force-app/main/default/flows/FlowQuiz.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>IncrementCounter</name>
        <label>IncrementCounter</label>
        <locationX>689</locationX>
        <locationY>47</locationY>
        <assignmentItems>
            <assignToReference>questionCount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QuestionCountPlusOne</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AskQuestion</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>IncrementScore</name>
        <label>IncrementScore</label>
        <locationX>335</locationX>
        <locationY>497</locationY>
        <assignmentItems>
            <assignToReference>Score</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ScorePlusOne</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>QuestionIterator</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetCorrectFalse</name>
        <label>SetCorrectFalse</label>
        <locationX>597</locationX>
        <locationY>699</locationY>
        <assignmentItems>
            <assignToReference>correct</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckAnswers</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetCorrectTrue</name>
        <label>SetCorrectTrue</label>
        <locationX>816</locationX>
        <locationY>386</locationY>
        <assignmentItems>
            <assignToReference>correct</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckAnswers</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CheckCheckboxAnswerCorrect</name>
        <label>CheckCheckboxAnswerCorrect</label>
        <locationX>1145</locationX>
        <locationY>858</locationY>
        <defaultConnector>
            <targetReference>CheckAnswers</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CheckboxAnswerIncorrect</name>
            <conditionLogic>(NOT (1) AND 2) OR (1 AND NOT (2))</conditionLogic>
            <conditions>
                <leftValueReference>SelectChosenValues</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>answer.Name</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>answer.Correct__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetCorrectFalse</targetReference>
            </connector>
            <label>CheckboxAnswerIncorrect</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckRadioAnswerCorrect</name>
        <label>CheckRadioAnswerCorrect</label>
        <locationX>808</locationX>
        <locationY>870</locationY>
        <defaultConnector>
            <targetReference>CheckAnswers</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AnswerIncorrect</name>
            <conditionLogic>(NOT (1) AND 2) OR (1 AND NOT (2))</conditionLogic>
            <conditions>
                <leftValueReference>RadioChosenValues</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>answer.Name</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>answer.Correct__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetCorrectFalse</targetReference>
            </connector>
            <label>AnswerIncorrect</label>
        </rules>
    </decisions>
    <decisions>
        <name>CorrectTrue</name>
        <label>CorrectTrue</label>
        <locationX>506</locationX>
        <locationY>501</locationY>
        <defaultConnector>
            <targetReference>QuestionIterator</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CorrectAnswer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>correct</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IncrementScore</targetReference>
            </connector>
            <label>CorrectAnswer</label>
        </rules>
    </decisions>
    <decisions>
        <name>QuestionType</name>
        <label>QuestionType</label>
        <locationX>1217</locationX>
        <locationY>607</locationY>
        <defaultConnector>
            <targetReference>CheckAnswers</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Radio</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>question.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Radio</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CheckRadioAnswerCorrect</targetReference>
            </connector>
            <label>Radio</label>
        </rules>
        <rules>
            <name>Checkbox</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>question.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Checkbox</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CheckCheckboxAnswerCorrect</targetReference>
            </connector>
            <label>Checkbox</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>AnswerChoices</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>Question__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>question.Id</elementReference>
            </value>
        </filters>
        <object>Answer__c</object>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>QuestionCountPlusOne</name>
        <dataType>Number</dataType>
        <expression>{!questionCount} + 1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>ScorePlusOne</name>
        <dataType>Number</dataType>
        <expression>{!Score} + 1</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>FlowQuiz {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FlowQuiz</label>
    <loops>
        <name>CheckAnswers</name>
        <label>CheckAnswers</label>
        <locationX>816</locationX>
        <locationY>563</locationY>
        <assignNextValueToReference>answer</assignNextValueToReference>
        <collectionReference>GetAnswers</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>QuestionType</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CorrectTrue</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>QuestionIterator</name>
        <label>QuestionIterator</label>
        <locationX>500</locationX>
        <locationY>51</locationY>
        <assignNextValueToReference>question</assignNextValueToReference>
        <collectionReference>GetQuestions</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>IncrementCounter</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Done</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GetAnswers</name>
        <label>GetAnswers</label>
        <locationX>821</locationX>
        <locationY>229</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SetCorrectTrue</targetReference>
        </connector>
        <filters>
            <field>Question__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>question.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Answer__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetQuestions</name>
        <label>GetQuestions</label>
        <locationX>343</locationX>
        <locationY>45</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>QuestionIterator</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Question__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>AskQuestion</name>
        <label>AskQuestion</label>
        <locationX>821</locationX>
        <locationY>47</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>GetAnswers</targetReference>
        </connector>
        <fields>
            <name>QuestionHeader</name>
            <fieldText>&lt;p&gt;{!questionCount}. {!question.Name}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>QuestionDetail</name>
            <fieldText>&lt;p&gt;{!question.Detail__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>RadioChosenValues</name>
            <choiceReferences>AnswerChoices</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Options</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>question.Type__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Radio</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>SelectChosenValues</name>
            <choiceReferences>AnswerChoices</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Options</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>question.Type__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Checkbox</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Done</description>
        <name>Done</name>
        <label>Done</label>
        <locationX>80</locationX>
        <locationY>267</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Thanks</name>
            <fieldText>&lt;p&gt;Thanks for completing the quiz.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>YourScore</name>
            <fieldText>&lt;p&gt;You scored {!Score} out of a possible {!questionCount}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>128</locationX>
        <locationY>45</locationY>
        <connector>
            <targetReference>GetQuestions</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>answer</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Answer__c</objectType>
    </variables>
    <variables>
        <name>correct</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>question</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Question__c</objectType>
    </variables>
    <variables>
        <name>questionCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Score</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
