force-app/main/default/flows/Quiz_LWC.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>IncrementCounter</name>
        <label>IncrementCounter</label>
        <locationX>689</locationX>
        <locationY>111</locationY>
        <assignmentItems>
            <assignToReference>questionCount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>nextCounterValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AskQuestion</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>IncrementScore</name>
        <label>IncrementScore</label>
        <locationX>508</locationX>
        <locationY>401</locationY>
        <assignmentItems>
            <assignToReference>Score</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ScoreIfRight</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>QuestionIterator</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CorrectAnswer</name>
        <label>CorrectAnswer</label>
        <locationX>902</locationX>
        <locationY>414</locationY>
        <defaultConnector>
            <targetReference>QuestionIterator</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CorrectAnswerChosen</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>correct</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IncrementScore</targetReference>
            </connector>
            <label>CorrectAnswerChosen</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>AnswerChoices</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>Question__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>question.Id</elementReference>
            </value>
        </filters>
        <object>Answer__c</object>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>DecrementCorrectAnswerCount</name>
        <dataType>Number</dataType>
        <expression>{!CorrectAnswerCount} - 1</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>IncrementCorrectAnswerCount</name>
        <dataType>Number</dataType>
        <expression>{!CorrectAnswerCount} + 1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>IncrementCorrectAnswersNeeded</name>
        <dataType>Number</dataType>
        <expression>{!NumberOfCorrectAnswersNeeded} + 1</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>nextCounterValue</name>
        <dataType>Number</dataType>
        <expression>{!questionCount} + 1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>ScoreIfRight</name>
        <dataType>Number</dataType>
        <expression>{!Score} + 1</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Quiz LWC {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Quiz LWC</label>
    <loops>
        <name>QuestionIterator</name>
        <label>QuestionIterator</label>
        <locationX>500</locationX>
        <locationY>115</locationY>
        <assignNextValueToReference>question</assignNextValueToReference>
        <collectionReference>GetQuestions</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>IncrementCounter</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Done</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GetQuestions</name>
        <label>GetQuestions</label>
        <locationX>344</locationX>
        <locationY>115</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>QuestionIterator</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Question__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>AskQuestion</name>
        <label>AskQuestion</label>
        <locationX>907</locationX>
        <locationY>111</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>MarkQuestion</targetReference>
        </connector>
        <fields>
            <name>QuestionHeader</name>
            <fieldText>&lt;p&gt;{!questionCount}. {!question.Name}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>QuestionDetail</name>
            <fieldText>&lt;p&gt;{!question.Detail__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>RadioChosenValues</name>
            <choiceReferences>AnswerChoices</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Options</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>question.Type__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Radio</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>SelectChosenValues</name>
            <choiceReferences>AnswerChoices</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Options</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>question.Type__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Checkbox</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Done</description>
        <name>Done</name>
        <label>Done</label>
        <locationX>272</locationX>
        <locationY>379</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Thanks</name>
            <fieldText>&lt;p&gt;Thanks for completing the quiz.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>YourScore</name>
            <fieldText>&lt;p&gt;You scored {!Score} out of a possible {!questionCount}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>MarkQuestion</name>
        <label>MarkQuestion</label>
        <locationX>909</locationX>
        <locationY>236</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CorrectAnswer</targetReference>
        </connector>
        <fields>
            <name>MarkQuestionLWC</name>
            <extensionName>c:markQuestion</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>questionId</name>
                <value>
                    <elementReference>question.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>radioChosen</name>
                <value>
                    <elementReference>RadioChosenValues</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectChosen</name>
                <value>
                    <elementReference>SelectChosenValues</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>correct</assignToReference>
                <name>correct</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>173</locationX>
        <locationY>115</locationY>
        <connector>
            <targetReference>GetQuestions</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>answer</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Answer__c</objectType>
    </variables>
    <variables>
        <name>correct</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>CorrectAnswerCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>NumberOfCorrectAnswersNeeded</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>question</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Question__c</objectType>
    </variables>
    <variables>
        <name>questionCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Score</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
